body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(207, 216, 224);
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    transition: background 0.8s ease-in-out;
    /*background: linear-gradient(135deg,hsla(207, 84%, 10%, 0.424), hsl(0, 0%, 100%));*/

}
/* Smooth transition */

/* Red border+glow for empty string submit */
.invalid {
    border: 2px solid hsl(0, 90%, 54%) !important;
    box-shadow: 0 0 8px hsla(0, 100%, 65%, 0.6);
}
/* For when user imputs empty city */
.shake{
    animation: shake 0.3s ease;
}
@keyframes shake {
    0%   { transform: translateX(0); }
    20%  { transform: translateX(-8px); }
    40%  { transform: translateX(8px); }
    60%  { transform: translateX(-6px); }
    80%  { transform: translateX(6px); }
    100% { transform: translateX(0); }
}

/* For spinner loading */

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(135deg, hsl(169, 72%, 71%), hsl(229, 43%, 77%));
    animation: pulse 1.2s infinite ease-in-out;
}

@keyframes pulse {
    0% { transform: scale(0.8); opacity: 0.6; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.8); opacity: 0.6; }
}

.weatherForm{
    margin: 20px;

}
.cityName{
    padding: 12px;
    font-size: 2rem;
    font-weight: bold;
    border: 1.5px solid hsla(7, 90%, 4%, 0.3);
    border-radius: 50px;
    margin: 15px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(60, 9%, 50%);
    color: rgb(17, 17, 18);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
button[type="submit"]:hover{
    background-color: hsl(206, 54%, 53%);

}
.card{
    background: linear-gradient(180deg, hsl(199, 43%, 70%), #c8cc95);
    padding: 50px;
    box-shadow: 4px 4px hsla(0, 1%, 22%, 0.732) ;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    transition:  0.8s ease-in-out, transform 0.3s ease;
    animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
    from{ opacity:0; transform: translateY(15px); }
    to{ opacity:1; transform: translateY(0); }
}

.card:hover{
    transform: scale(1.05);
}
.cold{ background: linear-gradient(180deg, hwb(169 48% 11%), hsla(230, 31%, 66%, 0.888)); }
.mild{ background: linear-gradient(180deg, hsl(87, 73%, 69%), hsl(101, 55%, 41%)); }
.warm{ background: linear-gradient(180deg, hsla(33, 93%, 58%, 0.863), hsl(49, 100%, 50%)); }
.hot{ background: linear-gradient(180deg, hsla(10, 81%, 60%, 0.505), hsl(333, 73%, 50%)); }

h1{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 5px;
}

p{
    font-size: 1.25rem;
    margin: 5px 1px;
}
.cityDisp, .tempDisp{
   font-size: 2.5rem;
   font-weight: bold;
   color: hsla(0, 2%, 10%, 0.859); 
   margin-bottom: 25px;
   outline: none;
}
.humidityDisp{
    font-weight: bold;
    margin-bottom: 25px;

}
.descriptionDisp{
    font-style: oblique;
    font-weight: bold;
    font-size: 1.5rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 75px;
}
.errorDisp{
    font-size: 1.5rem;
    font-weight: 200;
    color: hsla(0, 0%, 0%, 0.534);
}